@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body, html {
  padding: 0;
  margin: 0;
}

body {
  background: #f0f0f0;
}

.form {
  height: 100vh;
  overflow: hidden;
}

.form .block {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.form .editor {
  margin: 0;
  width: 100%;
  flex-grow: 1;
}

.form .editor textarea {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  resize: none;
}

.form .pe-textfield__input-area,
.form .pe-textfield__input {
  height: 100%;
}

.form .pe-textfield__input-area .pe-textfield__input {
  margin: 0;
}

.form .options {
  padding: 0 20px;
  height: 48px;
  min-height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-size: 16px;
  border-style: none none solid none;
  border-width: 1px;
}

.form .options-inner {
  display: flex;
  align-items: center;
}

.form .options a {
  text-decoration: none;
  color: #2196f3;
}

.form .source {
  background: #333;
  color: #aaa;
}

.form .options-inner {
  display: flex;
}

.form .source .options {
  border-color: #444;
}

.form .result .options,
.form .rendered .options {
  border-color: rgba(170, 170, 170, .25);
}

.form .rendered .options {
  align-items: flex-end;
  background: #f0f0f0;
}

.form .block.result {
  background: #fff;
}

.form .pe-textfield .pe-textfield__input-area:after {
  display: none;
}

.form .viewer {
  padding: 18px 20px;
  overflow-y: auto;
}

@media (max-width: 460px) {
  .form {
    flex-wrap: wrap;
  }
  .form .block {
    width: 100vw;
    height: calc(100vh / 3);
  }
  .form .block.rendered {
    flex-direction: column-reverse;
  }
  .form .block.rendered,
  .form .block.rendered .viewer {
    width: 100vw;
    height: calc(100vh / 3);
  }
  .form .rendered .options {
    border-style: solid none none none;
  }
  .form .editor textarea,
  .form .block.rendered .editor {
    height: calc((100vh / 3) - 48px);
  }
}

@media (min-width: 461px) and (max-width: 800px) {
  .form {
    flex-wrap: wrap;
  }
  .form .block {
    width: calc(100% / 2);
    height: 70vh;
  }
  .form .block.rendered {
    width: 100vw;
    height: 30vh;
    flex-direction: column-reverse;
  }
  .form .rendered .options {
    border-style: solid none none none;
  }
  .form .editor textarea {
    height: calc(70vh - 48px);
  }
  .form .block.rendered .editor {
    height: calc(30vh - 48px);
  }
}

@media (min-width: 801px) {
  .form .block {
    width: calc(100% / 3);
    height: 100vh;
  }
  .form .editor {
    height: 100%;
    max-height: 100%;
  }
  .form .editor textarea {
    height: calc(100vh - 48px);
  }
  .form .block.rendered {
    border-left: 1px solid #eee;
  }
}