body.mtc {
    padding: 20px;
    background: #f5f5f5;
}

.converter {
    max-width: 800px;
    margin: 0 auto;
}

.indent-selector {
    position: relative;
}

.mtc .indent-selector > .selectable-list .pe-list-tile__content {
    padding: 0 !important;
}

.mtc .indent-selector .pe-button {
    margin: 0;
}
.mtc .indent-selector .pe-button .pe-button__content {
    background-color: #ddd;
}

.mtc .group {
    margin: 0 0 30px 0;
}

.mtc a:link, .mtc a:visited  {
    text-decoration: none;
    color: #2196f3;
}

.mtc h1 {
    font-size: 26px;
    color: #444;
    margin: 0;
    margin: 10px 0 40px 0;
}

.mtc h2 {
	font-size: 18px;
	line-height: 20px;
	color: #aaa;
	margin: 0;
}

.mtc .pe-textfield {
    width: 100%;
}

.mtc textarea.pe-textfield__input {
    background: #fff;
}

.mtc .pe-textfield--focused textarea {
    background-color: #fff;
}

.mtc textarea.pe-textfield__input,
.mtc .render {
    min-height: 160px;
}

.mtc .render {
    margin: 20px 0 0 0;
    background-color: #ddd;
}
.mtc .render, 
.mtc .render p {
    font-size: 16px;
    line-height: 20px;
}

.mtc .footer {
	margin: 30px 0 10px 0;
}
.mtc .footer a:link,
.mtc .footer a:visited {
    color: #2196f3;
    text-decoration: none;
}
